{{#
	@name Button attributes
	@desc A single button component. Faux is used when a button is displayed inside a link (for example in link blocks).
#}}

<!-- /components/_button.antlers.html -->
{{ if label }}
    <{{ as or 'a' }}
        {{ slot:attributes }}
        {{ if button_type == 'background' }}
            class="{{ color }} block h-8 px-4 font-extrabold uppercase cursor-pointer pointer-events-auto text-skin-inverted motion-safe:transition md:text-lg leading-s focus:outline-none focus-visible:ring-2 ring-primary md:items-center md:flex bg-skin-primary hover:bg-skin-accent hover:text-skin-base"
        {{ /if }}
        {{ !faux ?= { partial:snippets/button_attributes } }}
    >
        {{ label }}
    </{{ as or 'a' }}>
{{ /if }}
<!-- End: /components/_button.antlers.html -->
