{{#
	@name current productions block
	@desc The current productions block component.

    @ parameters 
        show (int - limits the displayed items falls back to 6)
#}}

<!-- /components/_current_productions_block.antlers.html -->
<div class="flex flex-col gap-8 fluid-container">

    {{# current productions headline #}}
    {{ partial:typography/h2 :content="headline_current_productions" }}

        
        {{# all productions #}}
        {{ collection:programme limit="{ show ?? '2' }" }}
            
            {{# all productions wrapper #}}
            <div class="flex flex-col sm:grid sm:grid-cols-content-s md:grid-cols-content-l gap-y-8">
                
                {{# feature block left right #}}
                {{ if index | %:2  }}
                    {{ partial:components/bard_feature reference_content="true" feature_type="big" }}
                {{ else }}
                    {{ partial:components/bard_feature alignment="right" reference_content="true" feature_type="big" }}
                {{ /if }}
                
            </div>
        {{ /collection:programme }}
</div>
<!-- End: /components/_current_productions_block.antlers.html --> 