{{#
	@name orchestra block
	@desc The orchestra block component.
    @ parameters 
        show => (int - limits the displayed items falls back to unlimited)
        start => if start is set to "right" collection will start right
#}}

<!-- /components/_orchestra_block.antlers.html -->
<div class="flex flex-col fluid-container gap-y-20 xl:gap-y-40">
    
    <div class="flex flex-col gap-8">
        {{# orchestra headline #}}
        {{ partial:typography/h2 :content="headline" }}

        {{# filter bar #}}
        <div class="flex flex-row flex-wrap w-full gap-6 gap-y-4">
            {{ taxonomy:team_tags show="all" }}
                {{ partial:components/button as="button" icon="none" button_type="lined_base" label="{ title }" }}
            {{ /taxonomy:team_tags }}
        </div> 
    </div>
    
    {{# team cards grid wrapper #}}
    <div class="grid items-stretch w-full grid-cols-pill-s gap-x-8 gap-y-8">
            
        {{# all team #}}
        {{ collection:personen }}
            
            {{# team card #}}
            <button 
                x-data
                @click.prevent="
                    $store.modal.open = true,
                    $store.modal.title = '{{title}}', 
                    $store.modal.image = { url : '{{ glide:image preset='lg' }}', extension : '{{image.extension}}', mime_type : '{{image.mime_type}}', alt : '{{image.alt}}', focus : '{{image.focus | background_position}}', width : '{{image.width}}', height : '{{image.height}}', },
                    $store.modal.description = '{{description}}',
                    $store.modal.showFunFact = {{ fun_fact ? 'true' : 'false'}},
                    $store.modal.funFact = '{{ fun_fact }}',
                    $store.modal.showLinks = {{ links ? 'true' : 'false'}},
                    $store.modal.links = [ {{ links }} { title : '{{ label }}', url : '{{ url }}' }{{!last ?= ','}} {{ /links }} ],
                    $store.modal.teamTags = [ {{ team_tags }} { content : '{{ title }}', color : '{{ team_tag_type }}' }{{!last ?= ','}} {{ /team_tags }} ] "
                    class="relative flex flex-col items-start p-4 cursor-pointer group focus-visible:outline-none ">

                {{# tags  #}}
                <div class="flex flex-col items-start">
                    {{ partial:typography/tag color="yellow" content="{ title }" }}
                    {{ team_tags }}
                        {{ partial:typography/tag color="{team_tag_type}" content="{ title }" }}
                    {{ /team_tags }}
                </div>

                {{# square spacer for height #}}
                <div class="flex flex-col w-full h-full pointer-events-none aspect-w-4 aspect-h-6"></div>

                {{# read more #}}
                {{ partial:typography/h6 content="{ trans:strings.more }" class="tracking-wider absolute inset-x-0 text-center bottom-[50%] text-transparent scale-90 group-hover:scale-100 group-hover:text-light motion-safe:transition-transform" }}
                
                {{# image #}}
                <div class="absolute inset-0 overflow-hidden motion-safe:transition-[inset_opacity] rounded-full group-hover:inset-2 group-hover:opacity-60 z-behind">
                    {{ partial:components/picture nocaption="true" :image="thumbnail" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                </div>
            </button>
        {{ /collection:personen }}
    </div>
</div>
<!-- End: /components/_orchestra_block.antlers.html --> 