{{#
	@name orchestra block
	@desc The orchestra block component.
    @ parameters 
        show => (int - limits the displayed items falls back to unlimited)
        start => if start is set to "right" collection will start right
#}}

<!-- /components/_orchestra_block.antlers.html -->
<div class="flex flex-col fluid-container gap-y-20 xl:gap-y-40"
    x-data="
    {
        team_tag: '',
        team_filter: '',
        test: 'hallo',
        testing(el) {
            console.log(typeof el);
            this.test = 'super';
            if(el.includes(this.team_tag)) return true;
        }
    }
    ">
    
    <div class="flex flex-col gap-8">
        {{# orchestra headline #}}
        {{ partial:typography/h2 :content="headline" }}

        {{# filter bar #}}

        <select name="team-filters" id="team-fil" class="max-w-min" x-model="team_tag">
            {{ taxonomy:team_filters}}
                <option value="{{slug}}">{{title}}</option>
            {{/taxonomy:team_filters}}
        </select>
        <select name="team-tags" id="team-tags" class="max-w-min" x-model="team_filter">
            {{ taxonomy:team_tags}}
                <option value="{{slug}}">{{title}}</option>
            {{/taxonomy:team_tags}}
        </select>

    </div>


    <div class="flex flex-wrap gap-2">
        {{ collection:personen }}
            <div class="min-h-[200px] border-2" 
            x-show="testing('{{{team_tags pluck ('slug')}}}')">
                <div class="bg-green">
                    {{title}}
                </div>
                <div class="">
                    {{team_tags}}
                        {{ title }},
                    {{/team_tags}}
                
                </div>
                <div class="">
                    test
                    {{check = {team_tags pluck ('slug')}}}
                    {{ check | console_log}}
                    {{ check | dump }}
                    {{ check }}
                    
                
                </div>
                <div class="bg-light">
                    {{if team_filters}}
                    {{team_filters}}
                        {{ title }},
                    {{/team_filters}}
                    {{/if}}
                
                </div>
            </div>
        {{ /collection:personen }}
    </div>


    
   
</div>
<!-- End: /components/_orchestra_block.antlers.html --> 