{{#
	@name productions block
	@desc The productions block component.

    @ parameters 
        show => (int - limits the displayed items falls back to unlimited)
        start => if start is set to "right" collection will start right
#}}

<!-- /components/_productions_block.antlers.html -->
<div class="flex flex-col gap-8 fluid-container">

    {{# productions headline #}}
    {{ if show_header }}
        {{ partial:typography/h2 :content="headline_productions" }}
    {{ elseif show_header_all }}
        {{ partial:typography/h2 :content="headline" }}

        {{# filter bar #}}
        <div class="flex flex-col flex-wrap items-start w-full xs:flex-row gap-x-16 gap-y-8 xs:gap-y-6">
            <div class="flex flex-col gap-6 gap-y-2 xs:flex-row">
                {{ partial:components/button as="button" icon="none" button_type="lined_base" label="{ trans:strings.current }" }}
                {{ partial:components/button as="button" icon="none" button_type="lined_base" label="{ trans:strings.past }" }}
            </div>
            
            <div class="flex flex-col gap-6 gap-y-2 xs:flex-row">
                {{ partial:components/button as="button" icon="none" button_type="lined_base" label="Digital" }}
                {{ partial:components/button as="button" icon="none" button_type="lined_base" label="Chamber" }}
            </div>
        </div>
    {{ /if }}

    {{# all productions #}}
    <div class="flex flex-col gap-y-8">
        {{ collection from="{from ?? "programme"}" select_type:is="{filter}" sort="{sort}" limit="{show}" }}
        
            {{# feature block left right #}}
            {{ if index | %:2  }}
                {{ partial:components/bard_feature alignment="{start ? 'left' : 'right'}" reference_content="true" feature_type="big" }}
            {{ else }}
                {{ partial:components/bard_feature alignment="{start ? 'right' : 'left'}" reference_content="true" feature_type="big" }}
            {{ /if }}
            
        {{ /collection }}
    </div>

    {{# link to detail view #}}
    {{ link_all ?= { partial:components/button label="{ trans:strings.all_productions }" class="self-center" button_type="background" link_type="entry" :entry="all_productions_page" } }}
    
</div>
<!-- End: /components/_productions_block.antlers.html --> 