{{#
	@name productions block
	@desc The productions block component.

    @ parameters 
        show => (int - limits the displayed items falls back to unlimited)
        start => if start is set to "right" collection will start right
#}}


{{# wichtig für livewire #}}
{{ section:head }}
  {{ livewire:styles }}
{{ /section:head }}
{{ section:body }}
  {{ livewire:scripts }}
{{ /section:body }}

<!-- /components/_productions_block.antlers.html -->
<div class="flex flex-col gap-8 fluid-container">

    {{# productions headline #}}
    {{ if show_header }}
        {{ partial:typography/h2 :content="headline_productions" }}
    {{ elseif show_header_all }}
        {{ partial:typography/h2 :content="headline" }}

        {{ livewire:programm-filter
            {{# type wird aus dem page_template what_we_do gespeist #}}
            :config='["type" => type, "tax" => "tags", "currLocale" => site:short_locale, "preselection" => ["chamber"] ]'  
        }}

    {{ /if}}


 
    {{# link to detail view #}}
    {{ link_all ?= { partial:components/button label="{ trans:strings.all_productions }" class="self-center" button_type="background" link_type="entry" :entry="all_productions_page" } }}


     
</div>
<!-- End: /components/_productions_block.antlers.html --> 