{{#
	@name productions block
	@desc The productions block component.

    @ parameters 
        show => (int - limits the displayed items falls back to unlimited)
        start => if start is set to "right" collection will start right
#}}

{{ section:head }}
  {{ livewire:styles }}
{{ /section:head }}
{{ section:body }}
  {{ livewire:scripts }}
{{ /section:body }}

<!-- /components/_productions_block.antlers.html -->
<div class="flex flex-col gap-8 fluid-container">

    {{# productions headline #}}
    {{ if show_header }}
        {{ partial:typography/h2 :content="headline_productions" }}
    {{ elseif show_header_all }}
        {{ partial:typography/h2 :content="headline" }}

        {{ dump }}
        

        {{ livewire:programm-filter
            :config='["type" => "programme", "tax" => "tags", "currLocale" => site:short_locale, "preselection" => ["chamber"] ]'  
        }}

    {{ /if}}

     
</div>
<!-- End: /components/_productions_block.antlers.html --> 