{{ section:head }}
  {{ livewire:styles }}
{{ /section:head }}
{{ section:body }}
  {{ livewire:scripts }}
{{ /section:body }}


{{ livewire:programm-filter
  :config='["collectionType" => "programme", "tax" => "tags", "currLocale" => site:short_locale, "preselection" => ["chamber"] ]'  
}}
{{ livewire:programm-filter
  :config='["collectionType" => "programme", "tax" => "tags", "currLocale" => site:short_locale, "preselection" => ["chamber"] ]'  
}}


{{# <div class="m-20">
{{ livewire:termin-filter
  :config='["collectionType" => "termine", "tax" => "bundeslaender", "currLocale" => site:short_locale, "preselection" => ["berlin"] ]'  
}}
</div> #}}

{{# {{dump}} #}}




{{# when programme selection type (education,programme,reihen) #}}
{{# when termine nach richtigem datum #}}