<!-- /home.antlers.html -->
<main class="relative w-full" id="content"> 

    {{# Header #}}
    {{ partial:components/header social_icons="true" }}

    {{# intruduction section #}}
    {{ partial:layout/section color="{ select_section_theme_intro }" }}
        
        {{# intruduction bard #}}
        {{ partial:components/bard handle="{introduction_content}" }}
        
        {{# next dates block #}}
        {{ partial:components/next_dates_block show="6" }}
        
        {{# all news block #}}
        {{ partial:components/news_block show_header="true" show="3" }}

    {{ /partial:layout/section }}
    
    {{# current productions section #}}
    {{ partial:layout/section color="{ select_section_theme_current_production }" }} 

        {{# current productions block #}}
        {{ partial:components/productions_block from="programme" filter="programm" sort="updated_at:desc" show_header="true" show="2" link_all="true" start="right" }}

    {{ /partial:layout/section }}
    
    {{# support us section #}}
    {{ partial:layout/section color="{ select_section_theme_support_us }" }}
        
        {{ partial:components/bard handle="{support_us_content}" }}

    {{ /partial:layout/section }}
    
    {{# {{ trans:strings.search }} #}}
</main>
<!-- End: /home.antlers.html -->