{{#
	@name Termine index
	@desc The Termine index template.
#}}

<!-- /termine/index.antlers.html -->
<main class="relative w-full" id="content"> 

    {{# Header #}}
    {{ partial:components/header social_icons="false" }}

    {{# dates #}}
    {{ partial:layout/section color="{ select_section_theme_intro }" z="z-90" }}
       
        {{# next dates block #}}
        {{ partial:components/next_dates_block show_header="false" show="99" }}
    
    {{ /partial:layout/section }}
    
</main>
<!-- End: /termine/index.antlers.html -->
