{{#
	@name Termine index
	@desc The Termine index template.
#}}

<!-- /termine/index.antlers.html -->
<main class="relative w-full" id="content"> 

    {{# Header #}}
    {{ partial:components/header social_icons="false" }}

    {{# dates #}}
    {{ partial:layout/section color="dark" }}
       
        {{# next dates block #}}
        {{ partial:components/dates_block }}
    
    {{ /partial:layout/section }}
    
    {{# if there is additional content #}}
    {{ add_section }}
        {{ partial:layout/section color="{ theme_selector }" }}
            {{ partial:components/bard handle="{ article }" }}
        {{ /partial:layout/section }}
    {{ /add_section }}
    
</main>
<!-- End: /termine/index.antlers.html -->
