{{#
	@name Main mobile navigation
	@desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_mobile.antlers.html -->
<nav
    x-data="{ mobileNavOpen: false }"
    class="lg:hidden"
    aria-label="{{ trans:strings.main_navigation }}"
>
    <button
        @click.prevent="mobileNavOpen = !mobileNavOpen"
        class="relative right-0 z-20 flex items-center justify-center w-12 h-12 p-2 text-xs font-bold text-darkblue bg-light focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2 hover:bg-green hover:text-light motion-safe:transition"
        :aria-label="mobileNavOpen ? '{{ trans:strings.nav_close }}' : '{{ trans:strings.nav_open }}'"
        :aria-expanded="mobileNavOpen"
    >
        {{ svg src="burger" class="select-none fill-current" alt="" }}
    </button>

    <div
        class="fixed inset-0 z-10 flex flex-col justify-end px-8 pt-8 pb-12 bg-white"
        x-show="mobileNavOpen"
        x-trap.inert.noscroll="mobileNavOpen"
        x-cloak
    >
        <ul class="flex flex-col py-2 space-y-4 overflow-auto">
            {{ nav:main max_depth="1" include_home="true" }}
                <li
                    class="leading-none"
                >
                    <a
                        class="w-full py-2 flex items-center space-x-1 font-bold uppercase tracking-wide hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }} focus:outline-none focus-visible:ring-2 ring-primary"
                        href="{{ url }}"
                    >
                        <span>{{ title }}</span>
                    </a>
                </li>
            {{ /nav:main }}
        </ul>
    </div>
</nav>
<!-- End: /navigation/_main_mobile.antlers.html -->
