{{#
	@name Main mobile navigation
	@desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_mobile.antlers.html -->
<nav
    x-data="{ mobileNavOpen: false }"
    class="lg:hidden"
    aria-label="{{ trans:strings.main_navigation }}"
>
    <button
        @click.prevent="mobileNavOpen = !mobileNavOpen"
        class="relative right-0 z-20 flex items-center justify-center w-12 h-12 p-2 text-xs font-bold text-darkblue bg-light focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2 hover:bg-green hover:text-light motion-safe:transition"
        :aria-label="mobileNavOpen ? '{{ trans:strings.nav_close }}' : '{{ trans:strings.nav_open }}'"
        :aria-expanded="mobileNavOpen"
    >
        {{ svg src="burger" class="select-none fill-current" alt="" }}
    </button>

    <div
        class="fixed inset-0 z-10 flex flex-col items-start justify-between p-4 bg-light"
        x-show="mobileNavOpen"
        x-trap.inert.noscroll="mobileNavOpen"
        x-cloak
    >   

        {{# language picker #}}
        <div class="flex gap-2">
            {{ locales all="true" self="true" current_first="false" }}
                <a
                    href="{{ permalink }}"
                    aria-label="{{ locale:name }}"
                    class="{{ is_current ?= "text-yellow" }}h-8 w-8 block text-base font-bold tracking-wide uppercase whitespace-nowrap hover:text-green"
                >
                    {{ locale:short }}
                </a>
            {{ /locales }}
        </div>

        {{# nav links #}}
        <ul class="flex flex-col items-start gap-4">
            {{ nav:main max_depth="1" include_home="true" select="title|url|is_parent|is_current|button" }}
            {{ !button ?= '<li>{ partial:components/button link_type="url" button_type="lined_dark" :url="url" label="{ title }" }</li>'  }}
            {{ /nav:main }}
        </ul>
        
        {{# cta #}}
        {{ nav:main max_depth="1" include_home="true" select="title|url|is_parent|is_current|button" }}
            {{ button ?= { partial:components/button link_type="url" button_type="background" :url="url" label="{ title }" }  }}
        {{ /nav:main }}

        

    </div>
</nav>
<!-- End: /navigation/_main_mobile.antlers.html -->
