/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */
:root {
    /* Brand Colors */
    --color-darkblue: 2 1 34;
    --color-blue: 3 2 51;
    --color-yellow: 255 189 66;
    --color-green: 60 136 126;
    --color-light: 245 241 235;

    /* Utility Colors */
    --color-black: 2 1 34;
    --color-white: 245 241 235; 

    /* Theming Colors */
    --color-base: var(--color-light);
    --color-inverted: var(--color-darkblue);
    --color-primary: var(--color-yellow);
    --color-accent: var(--color-green); 
}


@layer base {
    p, h1, h2, h3, h4, h5, h6, strong, em, span, u  {
        @apply text-skin-base decoration-skin-primary;
    }

    h1, h2, h3, h4  {
        @apply leading-s font-extrabold uppercase;
    }

    p   { @apply text-base md:text-lg leading-l transition-colors; } 
    h1  { @apply text-4xl xs:text-5xl md:text-7xl lg:text-8xl transition-colors; }
    h2  { @apply text-3xl sm:text-4xl md:text-5xl xl:text-6xl transition-colors; }
    h3  { @apply text-2xl md:text-3xl xl:text-4xl transition-colors; }
    h4  { @apply text-lg md:text-2xl transition-colors; }
    h5  { @apply text-base md:text-2xl leading-s font-bold transition-colors; }
    h6  { @apply text-xs leading-s uppercase font-bold transition-colors; } 

    .prose > *:first-child { @apply !mt-0 }
    .prose > p   { @apply block-in-2 block-size-1; }
    .prose > h2  { @apply mt-8 md:mt-16 block-in-0 block-size-1; } 
    .prose > h3  { @apply mt-10 block-in-1 block-size-2; } 
    .prose > h4  { @apply mt-4 block-in-1 block-size-2; } 
    .prose > h5  { @apply mt-4 block-in-2 block-size-1; }
    p > a { @apply transition underline text-skin-primary decoration-skin-primary hover:text-skin-accent hover:decoration-skin-accent focus:prose-a:outline-none focus-visible:prose-a:ring focus-visible:prose-a:ring-skin-primary focus-visible:prose-a:rounded-sm;}
    
    .prose > *:last-child {
        @apply mb-0;
    }
}   

@layer components {
    
    .block-full  { @apply -mx-4 lg:-mx-20; }
    
    .block-in-0 { @apply pl-0 sm:pl-5 lg:pl-8 xl:pl-20 sm:pr-10 md:pr-20 }
    .block-in-1 { @apply pl-0 sm:pl-6 lg:pl-16 xl:pl-30 sm:pr-10 md:pr-20 }
    .block-in-2 { @apply pl-0 sm:pl-10 lg:pl-24 xl:pl-40 sm:pr-10 md:pr-20 }
    
    .block-size-1 { @apply lg:max-w-[60rem] }
    .block-size-2 { @apply lg:max-w-[50rem] }
    .block-size-full-1 { @apply lg:max-w-[64rem] w-full md:pr-16 }
    
    /* hack for sidebar */
    .block-inset-reset > .block-in-1, 
    .block-inset-reset > .block-in-2, 
    .block-inset-reset > .block-full { @apply px-0; }
}

@layer utilities {

}   

dialog::backdrop {
    background-color: rgba( 2, 1, 34, .5);
}

.theme-dark {
    --color-base: var(--color-light);
    --color-inverted: var(--color-darkblue);
    --color-primary: var(--color-yellow);
    --color-accent: var(--color-green);
}
.theme-yellow {
    --color-base: var(--color-darkblue);
    --color-inverted: var(--color-yellow);
    --color-primary: var(--color-green);
    --color-accent: var(--color-light);
}
.theme-light {
    --color-base: var(--color-darkblue);
    --color-inverted: var(--color-light);
    --color-primary: var(--color-green);
    --color-accent: var(--color-yellow);
}

/* Themes Header */
.header-dark {
    --color-base: var(--color-light);
    --color-inverted: var(--color-darkblue);
    --color-primary: var(--color-yellow);
    --color-accent: var(--color-green);
}
.header-yellow {
    --color-base: var(--color-green);
    --color-inverted: var(--color-darkblue);
    --color-primary: var(--color-light);
    --color-accent: var(--color-yellow);
}
.header-light {
    --color-base: var(--color-yellow);
    --color-inverted: var(--color-darkblue);
    --color-primary: var(--color-light);
    --color-accent: var(--color-green);
}

/* only image masks */
.bird-mask, .bechange-mask {
    mask-size: 100% calc(100% - 30rem + 1px), auto 30rem;
    mask-position: center top, center bottom;
    mask-repeat: repeat-x;
}

.bird-mask{ mask-image: url("/site_assets/transition_birds/black.png"), url("/site_assets/transition_birds/birds1.png"); }
.bechange-mask{ mask-image: url("/site_assets/transition_birds/black.png"), url("/site_assets/transition_birds/birds1.png"); }

 /* transition section */
.bird-section:not(:last-of-type), .bechange-section:not(:last-of-type)
{
    @apply bg-skin-inverted;
    mask-size: 100% calc(100% - 30rem + 1px), auto 30rem;
    mask-position: center top, center bottom;
    mask-repeat: repeat-x;
    
    margin-top: -30rem;
    padding-top: calc(30rem + 5rem);
    padding-bottom: calc(30rem + 5rem);
}

.bird-section:not(:last-of-type) { mask-image: url("/site_assets/transition_birds/black.png"),url("/site_assets/transition_birds/birds1.png"); }
.bechange-section:not(:last-of-type) { mask-image: url("/site_assets/transition_birds/black.png"), url("/site_assets/transition_birds/birds1.png"); }

/* last section */
.bird-section:last-of-type, .bechange-section:last-of-type
{
    @apply bg-skin-inverted;
    margin-top: -30rem;
    padding-top: calc(30rem + 5rem);
    padding-bottom: 10rem; 
}

.active > * {
    @apply text-skin-primary;
}

.hyphens {
    hyphens: auto;
}

 /* set z-index according to order  */
section:nth-of-type(2) { @apply z-90 }
section:nth-of-type(3) { @apply z-80 }
section:nth-of-type(4) { @apply z-70 }
section:nth-of-type(5) { @apply z-60 }
section:nth-of-type(6) { @apply z-50 }
section:nth-of-type(7) { @apply z-40 }
section:nth-of-type(8) { @apply z-30 }
section:nth-of-type(9) { @apply z-20 }
section:nth-of-type(10) { @apply z-10 }


/* Regular */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/site_assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('/site_assets/fonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Regular Italic */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/site_assets/fonts/PlusJakartaSans-Italic.woff2') format('woff2'),
        url('/site_assets/fonts/PlusJakartaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Bold*/
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/site_assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('/site_assets/fonts/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: 700;    
    font-style: normal;
    font-display: swap;
}    

/* Bold Italic */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/site_assets/fonts/PlusJakartaSans-BoldItalic.woff2') format('woff2'),
        url('/site_assets/fonts/PlusJakartaSans-BoldItalic.woff') format('woff');
    font-weight: 700;    
    font-style: italic;
    font-display: swap;
}    

/* Extra Bold */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/site_assets/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('/site_assets/fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: 800;    
    font-style: normal;
    font-display: swap;
}    

/* Extra Bold Italic */
@font-face {
font-family: 'Plus Jakarta Sans';
src: url('/site_assets/fonts/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
url('/site_assets/fonts/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
font-weight: 800;
font-style: italic;
font-display: swap;
}



