
{{# /livewire/filter.antlers.html #}}

{{# lifewire need outer div wrapper #}}
<div>
    This is the nice var: {{nice}}
  
        {{# connects/syncs alpine var with php lifewire var $filer in http/lifewire/filename.php #}}
        <div class="" x-data="{ filter: {{ livewire:entangle property='selection' }} }">
            <select x-model="filter">

                <option value=''>All</option>

                {{ taxonomy:{ $filterTax } }}
                    <option value="{{slug}}">{{title}}</option>
                {{ /taxonomy:{ $filterTax } }}

            </select>
        
            Filtering for: <span x-text="filter"></span>
        </div>

        <div wire:loading.delay.shortest>
            Processing Payment...
        </div>

      
        <div class="" x-data="{colors: []}">
        {{# <div class="" x-data="{ colors: {{ livewire:entangle property='test' }} }"> #}}

            <input type="checkbox" value="red" x-model="colors">
            <input type="checkbox" value="orange" x-model="colors">
            <input type="checkbox" value="yellow" x-model="colors">
            Colors: <span x-text="colors"></span>
        </div>


        <div x-data="{ 
            first: 0,
            sec: 1
        }">
            <div x-data="{ count: 0 }" x-modelable="count" x-model="first">
                <button @click="count++">Increment</button>
            </div>
            <div x-data="{ count: 0 }" x-modelable="count" x-model="sec">
                <button @click="count++">Increment</button>
            </div>
            {{# <div x-data="{ count: 1 }" x-modelable="count" x-model="number.two">
                <button @click="count++">Increment</button>
            </div> #}}
         
            {{# Number: <span x-text="number"></span> #}}
        </div>


        <div x-data="{ active: {{ livewire:entangle property='past' }} }">
            <button x-on:click="active = ! active" :class="active ? 'bg-green' : 'bg-light'">
                Vergangene Termine
            </button>
        </div>



        {{# <div x-data="{ active:[false, false, false] }">
            <button x-on:click="active = ! active" :class="active ? 'bg-green' : 'bg-light'">
                1
            </button>
        </div> #}}

        
       

        <div class="flex gap-11">
            {{# custom tag "lifewire results" from life wire component #}}
            {{lwResults}}
            {{# here goes the result partial #}}
                <div class="w-32 text-white h-11 {{ (index % 2) ? 'bg-blue' : '' }}">
                    {{title}}
                </div>
            {{/lwResults}}
        </div>

</div>

