
{{# /livewire/filter.antlers.html #}}
<div>

    <div class="" x-data="{ filter: {{ livewire:entangle property='filter' }} }">
        <select x-model="filter">
            <option value="">All</option>
            <option>#</option>
            <option value="(m || g)">test</option>
        </select>
    
        Title start: <span x-text="filter"></span>
    </div>

    <div class="flex mb-20 gap-11">
        {{ type = "programme" }}
        {{# {{ items = {collection:{type} title:starts_with="{{ $filter }}"}  }} #}}
        {{ items = {collection:{type}}   }}
            <div class="w-32 text-white h-11 {{ (index % 2) ? 'bg-blue' : '' }}">
                {{title}}
            </div>
        {{/items}}
    </div>


    <div class="flex gap-11">
        {{results}}
            <div class="w-32 text-white h-11 {{ (index % 2) ? 'bg-blue' : '' }}">
                {{title}}
            </div>
        {{/results}}
    </div>


    
        
</div>